.Location{

    &__wrapper{

    }

    &__description{

    }

    &__img{
        width: 80vw;

    }

    &__description--list{
        list-style-type: none;
        text-align: left;
        padding: 2rem;

    }

    &__description--item{
        margin: 1rem;

    }

    &__comments--list{

    }

    &__comment{

    }






}